:root {
  /* primary colors */

  --ligt-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  /* Neutral colors */

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  /* Typography */

  /* Body Copy */

  --font-size-quote: 28px;

  /* Font */

  /* manrope-<uniquifier>
  --font-family: url("https://fonts.google.com/specimen/Manrope");
  */

  --font-family: "Manrope", sans-serif;
  --font-optical-sizing: auto;
  --font-style: normal;
  --font-weights: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  transition : 0.2s ease-in-out;

}

html {
  font-size: var(--font-size-quote);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  height: 100%;
  width: 100%;
}

.advice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  min-height: 300px;
  background-color: var(--dark-grayish-blue);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem rgba(30, 30, 30, 0.15);
  font-weight: var(--font-weights);
  position: relative;
}

.advice-id {
  color: var(--neon-green);
  font-size: 0.5em;
}

.advice-text {
  text-align: center;
  max-width: 100%;
  color: var(--ligt-cyan);

}

.separator {
  max-width: 90%;
}

.change-advice-btn {
  position: absolute;
  bottom: calc((24px + 1.2rem) / (-2));
  z-index: 5;
  background-color: var(--neon-green);
  border: none;
  border-radius: 50%;
  transition: 0.1s ease-in-out;
  align-content: center;
  padding: 0.6rem;
}

.change-advice-btn > img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 2px;
  left: 0px;
}

.change-advice-btn:hover {
  box-shadow: 0 0 1rem var(--neon-green);
}

.attribution {
  font-size: 0.5rem;
  text-align: center;
  position: absolute;
  bottom : 2vh;
  color: var(--ligt-cyan);

}
.attribution a {
  color: var(--neon-green);
  text-decoration: none;
}

@media screen and (max-width: 560px) {
  .advice-container {
    width: 90vw;
  }
}
